<!-- <h1>
	Learning-Bindings!
</h1>

<button (click)="onClick()" class="btn btn-info">Evento Binding Click {{ mouseClickCount }} </button> <br>
<button (mouseover)="onMouseOver()" class="btn btn-info">Evento Binding Over {{ mouseOverCount }} </button>

<br><br>

<strong>Valor da variável 'userName':</strong> {{userName}}
<br>
<input placeholder="Evento KeyDown" type="text" [(ngModel)]="userName" >
<br>

<br><br>

<strong [class.bg_red]="mouseClickCount > 4">Valor da variável 'userName':</strong> {{userEmail}}
<br>
<input placeholder="Evento onKeyup" type="text" [ngModel]="userEmail" >

<br><br>

<style type="text/css">
	.bg_red{
		background-color: red;
	}
</style> -->